.mfp-wrap {
    z-index: 999999 !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
}

#highlightzone-links-container {
    height: 85vh;
    border: none;
    margin: 20px auto;
    max-width: 1137px;
    position: relative;
    overflow-y: scroll;
    background-color: white;
    padding: 20px 0px 20px 20px;
}

.highlightzone-button-menus-container {
    color: #333;
    font-size: 16px;
    background-color: white;
}

.highlightzone-button-menus-container > div {
    margin-bottom: 20px;
}

.highlightzone-dropdown-container {
    width: 230px;
    position: relative;
    display: inline-block;
    margin: 0px 40px 0px 0px;
}

.highlightzone-dropdown-button {
    width: 100%;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid transparent;
    transition: border-color .15s ease-out, color .25s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.30);
}

.highlightzone-dropdown-button:focus,
.highlightzone-dropdown-button:hover,
.highlightzone-dropdown-button:active {
    outline: 0;
    color: #4B9DEA;
    border: 1px solid #4B9DEA;
}

.highlightzone-link-element-container {
    width: 192px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 6px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: white; 
    margin: 0px 30px 30px 0px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.30);
}

.highlightzone-link-element-container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.highlightzone-link-element-container img {
    border-radius: 6px 6px 0px 0px;
}

.hightlightzone-highlight-headline {
    font-size: 14px;
    line-height: 1.3;
    overflow-y: auto;
    text-align: center;
    word-break: break-word;
    padding: 20px 20px 0px;
    box-sizing: border-box;
    height: calc(20px + 1.3*28px);
}

#highlightzone-launch-button {
    float: left;
    margin: 6px;
    width: 300px;
    padding: 7px;
    color: #c62828;
    display: block;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    line-height: normal;
    background-color: white;
    border: 2px solid #c62828;
}

#highlightzone-launch-button:hover {
    color: white;
    background-color: #c62828;
}

#highlightzone-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.highlightzone-header-visible {
    font-size: 24px;
    text-align: center;
    padding: 20px 60px 20px 40px;
    display: block !important;
}

.highlightzone-dropdown-content {
    z-index: 9999;
    display: none;
    overflow: auto;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.highlightzone-dropdown-content a {
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.highlightzone-dropdown-content a:hover {
    color: #0078FF;
    text-decoration: none;
    background-color: #ddd;
}

#highlightzone-player-dropdown-content {
    overflow: scroll;
    height: calc(85vh - 40px);
}

.highlightzone-show-dropdown-menu {
    display: block !important;
}

.highlight-type-selected span {
    display: inline !important;
}

.highlightzone-toggle-switch-container {
    display: inline-block;
    margin: 0px 40px 0px 0px;
}

.highlightzone-toggle-options-container {
    display: flex;
    align-items: stretch;
    flex-flow: row nowrap;
    box-sizing: border-box;
    justify-content: flex-start;
}

.highlightzone-toggle-options-container div {
    width: 105px;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
}

.highlightzone-toggle-options-container div:hover {
    color: #4B9DEA;
    cursor: pointer;
    border: 1px solid #4B9DEA;
}

.highlightzone-toggle-options-container div.selected {
    z-index: 1;
    color: white;
    border-color: #4B9DEA;
    background-color: #4B9DEA;
}

.highlightzone-highlight-type-container {
    display: inline-block;
}

.highlightzone-highlight-type-container > div {
    display: inline-block;
    margin: 0px 40px 0px 0px;
}

.highlightzone-highlight-type-option {
    display: flex;
    align-items: center;
}

.highlightzone-highlight-type-option > h4 {
    padding: 0px 10px 0px 0px;
}

.highlightzone-toggle-input {
    display: none;
    box-sizing: border-box;
}

.highlightzone-toggle-label {
    width: 4em;
    outline: 0;
    height: 2em;
    padding: 2px;
    display: block;
    cursor: pointer; 
    position: relative;
    border-radius: 2em;
    background: #f0f0f0;
    box-sizing: border-box;
    transition: all .4s ease;
}

.highlightzone-toggle-label:after  {
    left: 0;
    width: 50%;
    content: "";
    height: 100%;
    display: block;
    background: #fff;
    position: relative;
    border-radius: 50%;
    transition: all .2s ease;
}

.highlightzone-toggle-input:checked + .highlightzone-toggle-label {
    background: #4B9DEA;
}

.highlightzone-toggle-input:checked + .highlightzone-toggle-label:after {
    left: 50%;
}

.highlightzone-homerun-banner {
	top: -10px;
	left: -10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
}

.highlightzone-homerun-banner::before,
.highlightzone-homerun-banner::after{
    width: 10px;
	z-index: 2;
	content: "";
    height: 10px;
	display: block;
	position: absolute;
	background-color: rgb(255, 180, 0);
}

.highlightzone-homerun-banner::before {
	top: 0;
	right: 0;
}

.highlightzone-homerun-banner::after {
	left: 0;
	bottom: 0;
}

.highlightzone-homerun-banner span {
	top: 17px;
	right: -8px;
    z-index: 10;
	width: 143px;
	color: #403F45;
	display: block;
	padding: 10px 0;
    font-size: 16px;
	position: absolute;
	text-align: center;
	transform: rotate(-45deg);
	background-color: rgb(255, 210, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.40);
}

.highlightzone-weekday-split {
  padding: 0;
  height: 0px;
  border: none;
  overflow: visible;
  text-align: center;
  margin: 20px 0px 30px 0px;
  width: calc(100% - 42px);
  border-top: 2px solid #ccccd6;
}

.highlightzone-weekday-split:after {
  top: -10px;
  color: #9898ac;
  font-size: 17px;
  padding: 0 0.3em;
  font-weight: 700;
  background: white;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  content: attr(data-content);
}
